@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
    
    <section class="form">
  
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Form Name</legend>

                <!-- Button Drop Down -->
                <div class="control-group">
                    <label class="control-label" for="txtUrl">URL</label>
                    <div class="controls">
                        <div class="input-append">
                            <input id="txtUrl" name="txtUrl" class="input-xxlarge" 
                                placeholder="First, choose the online code repository ->" type="text" required="">
                            <div class="btn-group">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    repository
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Google Code - SVN</a></li>
                                    <li><a href="#">Google Code - HG</a></li>
                                    <li><a href="#">Github</a></li>
                                    <li><a href="#">Bitbucket</a></li>
                                    <li><a href="#">Sourceforge</a></li>
                                    <li><a href="#">Codeplex</a></li>
                                    <li><a href="#">Savannah</a></li>
                                    <li><a href="#">Gitorious</a></li>
                                    <li><a href="#">Lanchpad</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="control-group">
                    <label class="control-label" for="ddArchiveType">Archive</label>
                    <div class="controls">
                        <select id="ddArchiveType" name="ddArchiveType" class="input-mini">
                            <option>.zip</option>
                            @*<option>rar</option>*@
                            <option>.tar.gz</option>
                        </select>
                    </div>
                </div>

                <!-- Button -->
                <div class="control-group">
                    <label class="control-label" for="btnSubmit"></label>
                    <div class="controls">
                        <button id="btnSubmit" name="btnSubmit" class="btn btn-primary">Download</button>
                    </div>
                </div>

            </fieldset>
        </form>

    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
